td ,th{
    border: 1px solid;
    text-align: center;
}
audio{
    display: none;
}

audio{
    display: none;
}

table{
    display: flex;
    justify-content: center;
}
.ConfirmarVoto{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
th{
    padding: 10px;
}

input{
    width: 80px;
}